:root {
    --color-principal: #8a2be2;
    --color-prinicipalHover: #6a1baa;
    --colorFonsPagina: #f8f8ff;
    --colorFonsFormulari: #ffffff;
    --colorText: #333333;
    --colorBordeNormal: #ccc;
    --colorValid: #4caf50;
    --colorInvalid: #e53935;
    --colorNavText: #ffffff;
    --color-principal-rgb: 138, 43, 226;
    --color-Valid-rgb: 76, 175, 80;
    --color-Invalid-rgb: 229, 57, 53;
    --sombraFocus: 0 0 4px rgba(var(--color-principal-rgb), 0.2);
}

body {
    background-color: var(--colorFonsPagina);
    color: var(--colorText);
    padding: 30px;
}

/* Material Icons */
.material-symbols-outlined {
  font-size: 24px;
  transform: translateY(7px);
  margin-right: 8px;
}

/* Barra de Navegació */
.topnav {
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 100%;
    height: 65px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--color-principal-rgb), 0.75); 
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.75);
    box-sizing: border-box;
    transition: background 0.3s ease;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;     
    overflow-x: auto;        
    scrollbar-width: none;  
}

.menu a {
    color: var(--colorNavText);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f0f0f0;
}

.menu span {
    margin-right: 5px;
}

/* ESTILS PER index.html */
form.formulario {
    margin: 50px auto;
    padding: 40px;
    width: 500px;
    height: auto;
    background-color: var(--colorFonsFormulari);
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

h3 {
    color: var(--color-principal);
    border-bottom: 2px solid var(--colorBordeNormal);
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 600;
}

.campo {
    margin-bottom: 30px;
    position: relative;
}
